===== Python =====
venv/
pycache/
*.py[cod]

===== File CSV =====
used_cars_data.csv
vehicles.csv
vehicles_aligned.csv
used_cars_aligned.csv
vehicles_marked.csv
used_cars_marked.csv
ground_truth.csv
test.csv
train.csv
validation.csv

===== OS / editor =====
.DS_Store
.vscode/
.idea/

 
 