===== Python =====
venv/
pycache/
*.py[cod]
venv_dedupe/

===== File CSV =====
used_cars_data.csv
vehicles.csv
vehicles_aligned.csv
vehicles_cleaned.csv
vehicles_ispezione.csv
used_cars_aligned.csv
vehicles_marked.csv
used_cars_marked.csv
ground_truth.csv
ground_truth_final.csv
used_cars_final.csv
vehicles_final.csv
test.csv
train.csv
validation.csv
candidate_pairs_B1.csv
candidate_pairs_B1.csv.zip
candidate_pairs_B2.csv
candidate_pairs_B2.csv.zip
training.json
B1_recordLinkage.csv
requirements.txt
ditto_test.txt
ditto_train.txt
ditto_validation.txt
B1_ditto_pairs.txt
B1_pairs_finale.csv
settings.json

ditto_light/
checkpoints/

===== OS / editor =====
.DS_Store
.vscode/
.idea/

 
 